<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h1>Pick a Chord</h1>
        <form action="/">
            Note Name: <input type="text" name="note_name" value="{{note_name}}"><br>
            Scale Name: <input type="text" name="scale_name" value="{{scale_name}}"><br>
            Chord Name: <input type="text" name="chord_name" value="{{chord_name}}"><br>
            <input type="submit" value="Submit">
        </form>
        <h1>Picked a Chord</h1>
        the answer is <b>{{result}}</b>

    </body>
</html>